[defaults]
roles_path = {{ ansible_cfg_role_path | default('~/.ansible/roles') }}
nocows = {{ ansible_cfg_nocows | default('1') }}
{% if ansible_cfg_log %}log_path = {{ ansible_cfg_log_path }}{% endif %}
